
.counter{
    border: 1px solid #FFF5E0;
    padding: .5rem 1rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    font-weight: bold;
    font-family: 'Shadows Into Light';
    background-color: #FFF5E0;
    color: #141E46;
}
