.counter {
    padding: .5em 1em;
    border-radius: 2em;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    
    font-weight: bold;
    font-family: 'Shadows Into Light';
    text-wrap: nowrap;
    font-size: clamp(.75rem,4vw,1.5rem);
    
    background-color: #FFF5E0;
    color: #141E46;
}