@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
}
#root{
    background-color: #FFF5E0;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: 1rem;
    align-items: center;
}

.header {
  grid-row: 1/2;
  grid-column: 1/2;
  background-color: #141E46;
  padding: .5em 1em;
  border-radius: 1em;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  @media (max-width:700px) {
    flex-direction: column;
  }
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FFF5E0;
}

.header .logo>.logo-text {
    font-size: clamp(1.5rem,10vw,3rem);
    font-family: 'Shadows Into Light';
}

.header .logo>img {
    width: clamp(1.5rem,8vw,2.5rem);
}

.counter-container {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.main {
    border-radius: 2rem;
    color: #141E46;
}

.message{
    color: gray;
    font-family: 'Shadows Into Light';
    text-align: center;
}
.message .bold{
    font-weight: bold;
}